html {
  --page-height: 11in;
  --page-width: 8.5in;
  --print-margin: 0.4;

  --color-border: gray;
  --color-link: blue;

  --font-header: 'Libre Baskerville';
  --font-body: 'Crimson Text';
  --font-size: 11.5;
}

/*

 Print/Mobile Utilities

 */

.hide-when-print-or-mobile {
  display: block;
}

.show-when-print-or-mobile {
  display: none;
}

@media print, only screen and (max-width: 860px) {
  .hide-when-print-or-mobile {
    display: none;

    &.force-show {
      display: block;
    }
  }

  .show-when-print-or-mobile {
    display: block;

    &.force-hide {
      display: none;
    }
  }
}

.show-when-mobile {
  display: none;
}

@media only screen and (max-width: 860px) {
  .show-when-mobile {
    display: block;

    &.force-hide {
      display: none;
    }
  }
}

// Visual adjustments for very small screens
@media only screen and (max-width: 480px) {
  .show-when-print-or-mobile {
    .resume {
      font-size: 1em;
      min-width: 300px;
    }

    .columns {
      flex-direction: column;

      .columns__right {
        text-align: left;
      }
    }
  }
}

/*

Print Preview

 */

.print-preview {
  flex: 0 0 var(--page-width);
  width: var(--page-width);
  height: var(--page-height);
  border: 1px solid black;
  overflow: hidden;
}

.print-preview--warning {
  border: 1px dashed rgba(0, 0, 0, 0);
  overflow-y: scroll;
  margin: calc(var(--print-margin) * 1in);
  height: calc(
    var(--page-height) - (2 * var(--print-margin) * 1in)
  );
}

.print-preview--warning-visible {
  border-color: red;
}

/*

Editor Tools

 */

.wrapper {
  display: flex;
}

.edit-pane {
  padding: 0 20px;

  h2 {
    margin-bottom: 0px;
  }

  fieldset {
    margin-top: 10px;
    border: 0;
  }
}

.edit-pane__description {
  font-size: smaller;
}

.edit-pane__styles-toolbox {
  display: flex;
  flex-wrap: wrap;

  label {
    font-weight: bolder;
    font-size: smaller;
  }
}

.credits {
  padding-top: 16px;
  text-align: center;
  font-size: smaller;

  .show-when-mobile & {
    padding-top: 0;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
  }
}

/*

 Resume Layout

 */

.resume {
  font-family: var(--font-body);
  font-size: calc(var(--font-size) * 1pt);
  line-height: 1.1em;

  // Override margins for all `<p>` tags, which are generated by the
  // markdown-to-html helper
  p {
    margin: 0;
  }

  a,
  a:visited {
    color: var(--color-link);
  }
}

.header {
  text-align: center;

  .name {
    font-family: var(--font-header);
    line-height: 1.2em;
    margin: 0 0 0.5em;
  }

  .subtitle {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .information-columns {
    font-size: smaller;
  }
}

.section__title {
  font-family: var(--font-header);
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.section__subsection {
  margin: 1.15em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .columns__left {
    text-align: left;
  }

  .columns__right {
    text-align: right;
  }
}

.list,
.job_details ul {
  margin: 0.1em 0 0;
  padding-left: 1.75em;
}

.job_details p {
  margin: 0.325rem 0;
}