html {
  --page-height: 11in;
  --page-width: 8.5in;
  --print-margin: 0.4in;

  --color-border: gray;
  --color-link: blue;

  --font-header: 'Libre Baskerville';
  --font-body: 'Crimson Text';
  --font-size: 11.75pt;
}

/*

 Print Utilities

 */

.hide-when-print {
  display: block;
}

.show-when-print {
  display: none;
}

@media print {
  .hide-when-print {
    display: none;
  }

  .show-when-print {
    display: block;
  }
}

/*

Print Preview

 */

.print-preview {
  flex: 0 0 var(--page-width);
  width: var(--page-width);
  height: var(--page-height);
  border: 1px solid black;
  overflow: hidden;
}

.print-preview--warning {
  border: 1px dashed rgba(0, 0, 0, 0);
  overflow: hidden;
  margin: var(--print-margin);
  height: calc(
    var(--page-height) - (2 * var(--print-margin))
  );
}

.print-preview--warning-visible {
  border-color: red;
}

/*

Editor Tools

 */

.wrapper {
  display: flex;
}

.edit-pane {
  padding: 0 20px;

  h2 {
    margin-bottom: 0px;
  }

  fieldset {
    margin-top: 10px;
    border: 0;
  }
}

.edit-pane__description {
  font-size: smaller;
}

.credits {
  padding-top: 16px;
  text-align: center;
  font-size: smaller;
}

/*

 Resume Layout

 */

.resume {
  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: 1.15em;

  // Override margins for all `<p>` tags, which are generated by the
  // markdown-to-html helper
  p {
    margin: 0;
  }

  a,
  a:visited {
    color: var(--color-link);
  }
}

.header {
  text-align: center;

  .name {
    font-family: var(--font-header);
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 8px;
  }

  .information-columns {
    font-size: smaller;
  }
}

.section__title {
  font-family: var(--font-header);
  border-bottom: 1px solid var(--color-border);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section__subsection {
  margin: 18px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .columns__left {
    text-align: left;
  }

  .columns__right {
    text-align: right;
  }
}

.list {
  margin: 2px 0 0;
  padding-left: 26px;
}
